@model List<AppRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h4>Roller</h4>
<hr />

<table class="table table-bordered table-striped">
    <tr>
        <td>Id</td>
        <td>Role ismi</td>
        <td>Silme</td>
        <td>Güncelle</td>
    </tr>
    @if (Model.Count() <= 0)
    {
        <tr>
            <td colspan="3">Hiç bir rol yoktur.</td>
        </tr>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <form asp-action="RoleDelete" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-danger" type="submit">Sil </button>
                    </form>
                </td>
                <td><a class="btn btn-info" asp-action="RoleUpdate" asp-route-id="@item.Id">Güncelle </a></td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary btn-block" asp-controller="Admin" asp-action="RoleCreate">Role Ekle </a>