@model PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {
            <div class="alert alert-info"><h6>Şifreniz başarıyla yenilenmiştir. Giriş sayfasında yeni şifreniz ile giriş yapabilirsiniz.</h6></div>
            <a class="btn btn-link" asp-controller="Home" asp-action="Login">Giriş için tıklayınız.</a>
        }
        else
        {
            <h4>Şifre yenileme</h4>
            <hr />
            <form asp-action="ResetPasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni şifre oluştur" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>